# Flutter / Dart
.dart_tool/
.packages
.pub/
build/

# Metadata
.metadata

# Android
android/.gradle/
android/app/build/
android/local.properties

# iOS
ios/Pods/
ios/.symlinks/
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec

# macOS
macos/Pods/

# Linux
linux/flutter/ephemeral/

# Windows
windows/flutter/ephemeral/

# Web
web/.dart_tool/

# IDE
.idea/
.vscode/
*.iml

# Logs
*.log

# Signing (KRİTİK)
android/key.properties
android/app/upload-keystore.jks
*.jks
.flutter-plugins-dependencies